{% if section.index <= 2 %}
  {{ 'breadcrumb.css' | asset_url | preload_tag: as: 'style' }}
{% endif %}
{{ 'breadcrumb.css' | asset_url | stylesheet_tag }}

{% comment %} Breadcrumb JSON-LD Schema {% endcomment %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Accueil",
      "item": "{{ request.origin }}{{ routes.root_url }}"
    }
    {%- if template contains 'product' -%}
      {%- if collection.url -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": {{ collection.title | strip_html | json }},
        "item": "{{ request.origin }}{{ collection.url }}"
      }
      ,{
        "@type": "ListItem",
        "position": 3,
        "name": {{ product.title | strip_html | json }}
      }
      {%- else -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": {{ product.title | strip_html | json }}
      }
      {%- endif -%}
    {%- elsif template contains 'collection' and collection.handle -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": {{ collection.title | strip_html | json }}
      }
    {%- elsif template contains 'page' -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": {{ page.title | strip_html | json }}
      }
    {%- elsif template == 'blog' -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": {{ blog.title | strip_html | json }}
      }
    {%- elsif template == 'article' -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": {{ blog.title | strip_html | json }},
        "item": "{{ request.origin }}{{ blog.url }}"
      }
      ,{
        "@type": "ListItem",
        "position": 3,
        "name": {{ article.title | strip_html | json }}
      }
    {%- endif -%}
  ]
}
</script>

<nav class="breadcrumb--nav">
  <ul class="list-inline breadcrumb--list">
    <li class="breadcrumbs--item">
      <a href="{{ routes.root_url }}" title="Accueil" class="unstyled-link breadcrumb--link"> Accueil </a>
    </li>
    {%- if template contains 'page' -%}
      <li class="breadcrumbs--item">
        <span class="breadcrumb--link">{{ page.title | strip_html }}</span>
      </li>
    {%- elsif template contains 'product' -%}
      {%- if collection.url -%}
        <li class="breadcrumbs--item">
          <span class="breadcrumb--link">
            {{- collection.title | strip_html | truncatewords: 5 | link_to: collection.url }}
          </span>
        </li>
      {%- endif -%}
      <li class="breadcrumbs--item">
        <span class="breadcrumb--link breadcrumb-text">{{ product.title | strip_html | truncatewords: 5 }}</span>
      </li>
    {%- elsif template contains 'collection' and collection.handle -%}
      {%- if current_tags -%}
        <li class="breadcrumbs--item">
          <span class="breadcrumb--link">
            {{- collection.title | strip_html | truncatewords: 5 | link_to: collection.url }}
            <span>{{ current_tags | join: ' + ' }}</span>
          </span>
        </li>
      {%- else -%}
        <li class="breadcrumbs--item">
          <span class="breadcrumb--link breadcrumb-text">
            {{- collection.title | strip_html | truncatewords: 5 -}}
          </span>
        </li>
      {%- endif -%}
    {%- elsif template == 'blog' -%}
      {%- if current_tags -%}
        {{ blog.title | link_to: blog.url }}
        <li class="breadcrumbs--item">
          <span class="breadcrumb--link breadcrumb-text">{{ current_tags | join: ' + ' }}</span>
        </li>
      {%- else -%}
        <li class="breadcrumbs--item">
          <span class="breadcrumb--link breadcrumb-text">{{ blog.title | strip_html }}</span>
        </li>
      {%- endif -%}
    {%- elsif template == 'article' -%}
      <li class="breadcrumbs--item">
        <span class="breadcrumb--link">{{ blog.title | strip_html | link_to: blog.url }} </span>
      </li>
      <li class="breadcrumbs--item">
        <span class="breadcrumb--link breadcrumb-text"> {{ 'blogs.article.blog' | t }}</span>
      </li>
    {%- else -%}
      <li class="breadcrumbs--item">
        <span class="breadcrumb--link breadcrumb-text">{{ page_title }}</span>
      </li>
    {%- endif -%}
  </ul>
</nav>
