<div class="collection-password-popup--content">
  {%- if section.settings.gate_heading != blank -%}
    <h5 class="h4 heading-font collection-password-popup--heading">
      {{ section.settings.gate_heading }}
    </h5>
  {%- endif -%}

  {%- if section.settings.welcome_text != blank -%}
    <p class="collection-password-popup--desc">
      {{ section.settings.welcome_text | newline_to_br }}
    </p>
  {%- endif -%}

  <div class="collection-password-popup--form">
    <div class="form-group">
      <label class="hidden" for="CollectionPassword--{{ section.id }}">
        {{ 'sections.collection_password_gate.password_label' | t }}
      </label>
      <input
        type="password"
        id="CollectionPassword--{{ section.id }}"
        class="form-control"
        data-collection-password-input
        autocomplete="off"
        placeholder="{{ section.settings.placeholder_text | default: 'sections.collection_password_gate.password_placeholder' | t }}"
      >
    </div>

    <div class="form--message error" data-collection-password-error style="display: none;">
      {{ section.settings.error_text | default: 'sections.collection_password_gate.error_default' | t }}
    </div>

    <button
      type="button"
      class="button medium-button button-block"
      data-collection-password-submit
      aria-label="{{ section.settings.button_text | default: 'sections.collection_password_gate.button_default' | t }}"
    >
      {{ section.settings.button_text | default: 'sections.collection_password_gate.button_default' | t }}
    </button>
  </div>
</div>
