{% if source == 'main-collection' %}
  <div class="empty--card">
    <svg viewBox="0 0 47 47" fill="none">
      <path d="M41.172 38.9473C44.791 34.8113 47 29.422 47 23.5C47 10.5437 36.4563 0 23.5 0C10.5437 0 0 10.5437 0 23.5C0 36.4563 10.5437 47 23.5 47C29.422 47 34.8113 44.791 38.9473 41.172L44.321 46.5457C44.6343 46.8433 45.026 47 45.4333 47C45.8407 47 46.2323 46.8433 46.5457 46.5457C47.1567 45.9347 47.1567 44.9477 46.5457 44.3367L41.172 38.9473ZM3.13333 23.5C3.13333 12.267 12.267 3.13333 23.5 3.13333C34.733 3.13333 43.8667 12.267 43.8667 23.5C43.8667 34.733 34.733 43.8667 23.5 43.8667C12.267 43.8667 3.13333 34.733 3.13333 23.5ZM14.1 18.8C14.1 17.0767 15.51 15.6667 17.2333 15.6667C18.9567 15.6667 20.3667 17.0767 20.3667 18.8C20.3667 20.5233 18.9567 21.9333 17.2333 21.9333C15.51 21.9333 14.1 20.5233 14.1 18.8ZM32.9 18.8C32.9 20.5233 31.49 21.9333 29.7667 21.9333C28.0433 21.9333 26.6333 20.5233 26.6333 18.8C26.6333 17.0767 28.0433 15.6667 29.7667 15.6667C31.49 15.6667 32.9 17.0767 32.9 18.8ZM32.1167 29.1243C32.4613 29.9077 32.1167 30.8477 31.3177 31.1923C31.114 31.2863 30.8947 31.3333 30.691 31.3333C30.0957 31.3333 29.516 30.9887 29.2497 30.3933C28.247 28.106 25.9753 26.6333 23.5 26.6333C21.0247 26.6333 18.753 28.106 17.7347 30.409C17.39 31.1923 16.4657 31.5683 15.6667 31.208C14.8833 30.8633 14.523 29.939 14.8677 29.14C16.3873 25.709 19.787 23.5 23.5 23.5C27.213 23.5 30.6127 25.709 32.1167 29.1243Z" fill="currentColor"/>
    </svg>
    <div class="empty--card-content">
      <h5 class="h5 heading-font empty--card-heading">{{ 'empty-card.collection.heading' | t }}</h5>
      <p class="empty--card-desc">
        {{ 'empty-card.collection.description_html' | t: link: collection.url }}
      </p>
    </div>
  </div>
{% endif %}

{% if source == 'cart-drawer' or source == 'cart' %}
  <div class="empty--card">
    <svg viewBox="0 0 47 47" fill="none">
      <path d="M41.172 38.9473C44.791 34.8113 47 29.422 47 23.5C47 10.5437 36.4563 0 23.5 0C10.5437 0 0 10.5437 0 23.5C0 36.4563 10.5437 47 23.5 47C29.422 47 34.8113 44.791 38.9473 41.172L44.321 46.5457C44.6343 46.8433 45.026 47 45.4333 47C45.8407 47 46.2323 46.8433 46.5457 46.5457C47.1567 45.9347 47.1567 44.9477 46.5457 44.3367L41.172 38.9473ZM3.13333 23.5C3.13333 12.267 12.267 3.13333 23.5 3.13333C34.733 3.13333 43.8667 12.267 43.8667 23.5C43.8667 34.733 34.733 43.8667 23.5 43.8667C12.267 43.8667 3.13333 34.733 3.13333 23.5ZM14.1 18.8C14.1 17.0767 15.51 15.6667 17.2333 15.6667C18.9567 15.6667 20.3667 17.0767 20.3667 18.8C20.3667 20.5233 18.9567 21.9333 17.2333 21.9333C15.51 21.9333 14.1 20.5233 14.1 18.8ZM32.9 18.8C32.9 20.5233 31.49 21.9333 29.7667 21.9333C28.0433 21.9333 26.6333 20.5233 26.6333 18.8C26.6333 17.0767 28.0433 15.6667 29.7667 15.6667C31.49 15.6667 32.9 17.0767 32.9 18.8ZM32.1167 29.1243C32.4613 29.9077 32.1167 30.8477 31.3177 31.1923C31.114 31.2863 30.8947 31.3333 30.691 31.3333C30.0957 31.3333 29.516 30.9887 29.2497 30.3933C28.247 28.106 25.9753 26.6333 23.5 26.6333C21.0247 26.6333 18.753 28.106 17.7347 30.409C17.39 31.1923 16.4657 31.5683 15.6667 31.208C14.8833 30.8633 14.523 29.939 14.8677 29.14C16.3873 25.709 19.787 23.5 23.5 23.5C27.213 23.5 30.6127 25.709 32.1167 29.1243Z" fill="currentColor"/>
    </svg>
    <div class="empty--card-content">
      <h5 class="h5 heading-font empty--card-heading">{{ 'empty-card.cart.heading' | t }}</h5>
      {{ 'empty-card.cart.description_html' | t: link: routes.collections_url }}
    </div>
  </div>
{% endif %}

{% if source == 'search-drawer' %}
  <div class="empty--card">
    <svg viewBox="0 0 47 47" fill="none">
      <path d="M41.172 38.9473C44.791 34.8113 47 29.422 47 23.5C47 10.5437 36.4563 0 23.5 0C10.5437 0 0 10.5437 0 23.5C0 36.4563 10.5437 47 23.5 47C29.422 47 34.8113 44.791 38.9473 41.172L44.321 46.5457C44.6343 46.8433 45.026 47 45.4333 47C45.8407 47 46.2323 46.8433 46.5457 46.5457C47.1567 45.9347 47.1567 44.9477 46.5457 44.3367L41.172 38.9473ZM3.13333 23.5C3.13333 12.267 12.267 3.13333 23.5 3.13333C34.733 3.13333 43.8667 12.267 43.8667 23.5C43.8667 34.733 34.733 43.8667 23.5 43.8667C12.267 43.8667 3.13333 34.733 3.13333 23.5ZM14.1 18.8C14.1 17.0767 15.51 15.6667 17.2333 15.6667C18.9567 15.6667 20.3667 17.0767 20.3667 18.8C20.3667 20.5233 18.9567 21.9333 17.2333 21.9333C15.51 21.9333 14.1 20.5233 14.1 18.8ZM32.9 18.8C32.9 20.5233 31.49 21.9333 29.7667 21.9333C28.0433 21.9333 26.6333 20.5233 26.6333 18.8C26.6333 17.0767 28.0433 15.6667 29.7667 15.6667C31.49 15.6667 32.9 17.0767 32.9 18.8ZM32.1167 29.1243C32.4613 29.9077 32.1167 30.8477 31.3177 31.1923C31.114 31.2863 30.8947 31.3333 30.691 31.3333C30.0957 31.3333 29.516 30.9887 29.2497 30.3933C28.247 28.106 25.9753 26.6333 23.5 26.6333C21.0247 26.6333 18.753 28.106 17.7347 30.409C17.39 31.1923 16.4657 31.5683 15.6667 31.208C14.8833 30.8633 14.523 29.939 14.8677 29.14C16.3873 25.709 19.787 23.5 23.5 23.5C27.213 23.5 30.6127 25.709 32.1167 29.1243Z" fill="currentColor"/>
    </svg>
    <div class="empty--card-content">
      <h5 class="h5 heading-font empty--card-heading">{{ 'empty-card.search-drawer.heading' | t }}</h5>
      <p class="empty--card-desc">{{ 'empty-card.search-drawer.description' | t }}</p>
    </div>
  </div>
{% endif %}

{% if source == 'search' %}
  <div class="empty--card">
    <svg viewBox="0 0 47 47" fill="none">
      <path d="M41.172 38.9473C44.791 34.8113 47 29.422 47 23.5C47 10.5437 36.4563 0 23.5 0C10.5437 0 0 10.5437 0 23.5C0 36.4563 10.5437 47 23.5 47C29.422 47 34.8113 44.791 38.9473 41.172L44.321 46.5457C44.6343 46.8433 45.026 47 45.4333 47C45.8407 47 46.2323 46.8433 46.5457 46.5457C47.1567 45.9347 47.1567 44.9477 46.5457 44.3367L41.172 38.9473ZM3.13333 23.5C3.13333 12.267 12.267 3.13333 23.5 3.13333C34.733 3.13333 43.8667 12.267 43.8667 23.5C43.8667 34.733 34.733 43.8667 23.5 43.8667C12.267 43.8667 3.13333 34.733 3.13333 23.5ZM14.1 18.8C14.1 17.0767 15.51 15.6667 17.2333 15.6667C18.9567 15.6667 20.3667 17.0767 20.3667 18.8C20.3667 20.5233 18.9567 21.9333 17.2333 21.9333C15.51 21.9333 14.1 20.5233 14.1 18.8ZM32.9 18.8C32.9 20.5233 31.49 21.9333 29.7667 21.9333C28.0433 21.9333 26.6333 20.5233 26.6333 18.8C26.6333 17.0767 28.0433 15.6667 29.7667 15.6667C31.49 15.6667 32.9 17.0767 32.9 18.8ZM32.1167 29.1243C32.4613 29.9077 32.1167 30.8477 31.3177 31.1923C31.114 31.2863 30.8947 31.3333 30.691 31.3333C30.0957 31.3333 29.516 30.9887 29.2497 30.3933C28.247 28.106 25.9753 26.6333 23.5 26.6333C21.0247 26.6333 18.753 28.106 17.7347 30.409C17.39 31.1923 16.4657 31.5683 15.6667 31.208C14.8833 30.8633 14.523 29.939 14.8677 29.14C16.3873 25.709 19.787 23.5 23.5 23.5C27.213 23.5 30.6127 25.709 32.1167 29.1243Z" fill="currentColor"/>
    </svg>
    <div class="empty--card-content">
      <h5 class="h5 heading-font empty--card-heading">{{ 'empty-card.search.heading' | t }}</h5>
      <p class="empty--card-desc">{{ 'empty-card.search.description' | t }}</p>
    </div>
  </div>
{% endif %}

{% if source == 'store-locator' %}
  <div class="empty--card">
    <svg viewBox="0 0 47 47" fill="none">
      <path d="M41.172 38.9473C44.791 34.8113 47 29.422 47 23.5C47 10.5437 36.4563 0 23.5 0C10.5437 0 0 10.5437 0 23.5C0 36.4563 10.5437 47 23.5 47C29.422 47 34.8113 44.791 38.9473 41.172L44.321 46.5457C44.6343 46.8433 45.026 47 45.4333 47C45.8407 47 46.2323 46.8433 46.5457 46.5457C47.1567 45.9347 47.1567 44.9477 46.5457 44.3367L41.172 38.9473ZM3.13333 23.5C3.13333 12.267 12.267 3.13333 23.5 3.13333C34.733 3.13333 43.8667 12.267 43.8667 23.5C43.8667 34.733 34.733 43.8667 23.5 43.8667C12.267 43.8667 3.13333 34.733 3.13333 23.5ZM14.1 18.8C14.1 17.0767 15.51 15.6667 17.2333 15.6667C18.9567 15.6667 20.3667 17.0767 20.3667 18.8C20.3667 20.5233 18.9567 21.9333 17.2333 21.9333C15.51 21.9333 14.1 20.5233 14.1 18.8ZM32.9 18.8C32.9 20.5233 31.49 21.9333 29.7667 21.9333C28.0433 21.9333 26.6333 20.5233 26.6333 18.8C26.6333 17.0767 28.0433 15.6667 29.7667 15.6667C31.49 15.6667 32.9 17.0767 32.9 18.8ZM32.1167 29.1243C32.4613 29.9077 32.1167 30.8477 31.3177 31.1923C31.114 31.2863 30.8947 31.3333 30.691 31.3333C30.0957 31.3333 29.516 30.9887 29.2497 30.3933C28.247 28.106 25.9753 26.6333 23.5 26.6333C21.0247 26.6333 18.753 28.106 17.7347 30.409C17.39 31.1923 16.4657 31.5683 15.6667 31.208C14.8833 30.8633 14.523 29.939 14.8677 29.14C16.3873 25.709 19.787 23.5 23.5 23.5C27.213 23.5 30.6127 25.709 32.1167 29.1243Z" fill="currentColor"/>
    </svg>
    <div class="empty--card-content">
      <h5 class="h5 heading-font empty--card-heading">{{ 'empty-card.store-locator.heading' | t }}</h5>
    </div>
  </div>
{% endif %}

{% if source == 'order' %}
  <div class="empty--card with-background">
    <svg viewBox="0 0 60 61" stroke="currentColor" fill="none">
      <path stroke-linecap="round" stroke-linejoin="round" d="M23.75 25.5a1.25 1.25 0 1 1-2.5 0m2.5 0a1.25 1.25 0 1 0-2.5 0m2.5 0h-2.5m17.5 0a1.25 1.25 0 1 1-2.5 0m2.5 0a1.25 1.25 0 1 0-2.5 0m2.5 0h-2.5m3.75 15c-2.28-3.036-5.91-5-10-5s-7.72 1.964-10.001 5M30 55.5v0c13.807 0 25-11.193 25-25v0c0-13.807-11.193-25-25-25v0c-13.807 0-25 11.193-25 25v0c0 13.807 11.193 25 25 25Z"></path>
    </svg>
    <div class="empty--card-content">
      <h5 class="h5 heading-font empty--card-heading">{{ 'empty-card.order.heading' | t }}</h5>
      <p class="empty--card-desc">{{ 'empty-card.order.description' | t }}</p>
      <a href="{{ routes.collections_url }}" class="button"><span>{{ 'empty-card.order.button' | t }}</span></a>
    </div>
  </div>
{% endif %}
