<div class="header--menu-megamenu-list">
  {% for childlink in link.links %}
    <div class="navmenu-option">
      <a href="{{ childlink.url }}" class="megamenu-main-heading {{ section.settings.submenu_font_type }}">
        {% if section.settings.submenu_font_style == 'bold' %}
          <strong>
        {% endif %}
        {{ childlink.title }}
        {% if section.settings.submenu_font_style == 'bold' %}
          </strong>
        {% endif %}
      </a>
      {%- if childlink.links != blank -%}
        <ul class="header--menu-megamenu-inner">
          {% for grandchildlink in childlink.links %}
            <li>
              <a href="{{ grandchildlink.url }}">{{- grandchildlink.title -}}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
{% liquid
  if megamenuStyle == 'style-1' 
    assign megamenuContClass = 'megamenu_style1'
  elsif megamenuStyle == 'style-2'
    assign megamenuContClass = 'megamenu_style2'
  elsif megamenuStyle == 'style-3'
    assign megamenuContClass = 'megamenu_style3'
  endif 
%}
  <div class="header--menu-megamenu-content {{ megamenuContClass }}">
    {%- liquid
      assign linkTitle = link.title | handleize
      assign megaMenuStatus = false
      assign lastBlock = null

      for block in section.blocks
        assign blockLabel = block.settings.title | handleize
        if blockLabel == linkTitle
          assign lastBlock = block
          assign megaMenuStatus = true
          break
        endif
      endfor

      if megaMenuStatus
        assign megamenuClass = 'mega-menu-' | append: lastBlock.type | append: '-' | append: forloop.index
        assign blockAttributes = lastBlock.shopify_attributes
        capture megaMenuImagesData
          case lastBlock.type
            when 'style-1'
              for i in (1..4)
                assign headingSetting = 'content_title_' | append: i
                assign linkSetting = 'content_link_' | append: i
                assign imageSetting = 'content_image_' | append: i
                assign overlay_opacity = lastBlock.settings.horizontal_overlay_opacity
                if lastBlock.settings[headingSetting] != blank or lastBlock.settings[imageSetting] != blank
                  render 'mega-menu-image', section: section, block: lastBlock, headingSetting: headingSetting, linkSetting: linkSetting, imageSetting: imageSetting, overlay_opacity: overlay_opacity
                endif
              endfor
            when 'style-2'
              for i in (1..3)
                assign headingSetting = 'content_heading_' | append: i
                assign linkSetting = 'content_url_' | append: i
                assign imageSetting = 'content_img_' | append: i
                assign overlay_opacity = lastBlock.settings.vertical_overlay_opacity
                if lastBlock.settings[imageSetting] != blank or lastBlock.settings[imageSetting] != blank
                  render 'mega-menu-image', section: section, block: lastBlock, headingSetting: headingSetting, linkSetting: linkSetting, imageSetting: imageSetting, overlay_opacity: overlay_opacity
                endif
              endfor
            when 'style-3'
              assign megamenuClass = 'mega-menu3-' | append: indexmenu
              render 'mega-menu3', section: section, block: lastBlock, megamenu: megamenuClass
          endcase
        endcapture
      endif
    -%}

    {{ megaMenuImagesData }}
  </div>
</div>
