<mobile-menu class="side-drawer mobile--side-drawer scheme-{{ settings.mb_menu_color_scheme }}" id="MobileDrawer" data-drawer="mobile-menu-drawer">
    <div class="close-fullwidth" data-close-drawer></div>
    <div class="side--drawer-panel">
        <div class="side--drawer-inner">
        <div class="side--drawer-header">
            <close-drawer>
            <button class="drawer-close" data-drawer-close>
                <svg class="close-icon" width="20" height="20" viewBox="0 0 23.691 22.723">
                <g transform="translate(-126.154 -143.139)">
                    <line x2="23" y2="22" transform="translate(126.5 143.5)" fill="none" stroke="CurrentColor" stroke-width="2"></line>
                    <path d="M0,22,23,0" transform="translate(126.5 143.5)" fill="none" stroke="CurrentColor" stroke-width="2"></path>
                </g>
                </svg>
            </button>
            </close-drawer>
        </div>
        <div class="side--drawer-body">
            <div class="mobile--side-drawer-content height-100">
                <div class="mobile-menu--box height-100">
                    {% if section.settings.menu != blank %}
                        <ul class="mobile-menu--list width-100 height-100">

                            {% assign reverseBlocks = section.blocks | reverse %}
                            {% for link in section.settings.menu.links %}
                                {%- liquid
                                    assign megaMenuStatus = false
                                    assign linkTitle = link.title | handleize
                                    assign indexmenu = forloop.index
                                    assign megamenuStyle = ''
                                    capture megaMenuData
                                    for block in section.blocks
                                        case block.type
                                        when 'style-1'
                                            assign blockLabel = block.settings.title | handleize
                                            if blockLabel == linkTitle
                                            assign megaMenuStatus = true
                                            assign megamenuStyle = 'style-1'
                                            assign megamenuClass = 'mega-menu-' | append: indexmenu
                                            render 'mega-menu', block: block, megamenu: megamenuClass
                                            endif
                                        when 'style-2'
                                            assign blockLabel = block.settings.title | handleize
                                            if blockLabel == linkTitle
                                            assign megaMenuStatus = true
                                            assign megamenuStyle = 'style-2'
                                            assign megamenuClass = 'mega-menu2-' | append: indexmenu
                                            render 'mega-menu2', block: block, megamenu: megamenuClass
                                            endif
                                        when 'style-3'
                                            assign blockLabel = block.settings.title | handleize
                                            if blockLabel == linkTitle
                                            assign megaMenuStatus = true
                                            assign megamenuStyle = 'style-3'
                                            assign megamenuClass = 'mega-menu3-' | append: indexmenu
                                            render 'mega-menu3', section: section, block: block, megamenu: megamenuClass, hamburgerMenu: true
                                            endif
                                        endcase
                                        if megaMenuStatus
                                        break
                                        endif
                                    endfor
                                    endcapture

                                    assign hasChild = false
                                    if link.links.size > 0 or megaMenuData != blank
                                        assign hasChild = true
                                    endif
                                -%}
                                
                                <li class="mobile-menu--item menu-item-{{ indexmenu }}"data-mobile-item {% if hasChild %} data-menu-item{% endif %}>
                                    <{% if hasChild %}span{% else %}a href="{{ link.url }}"{% endif %} class="mobile-menu--link heading-font h5 cursor-pointer">
                                        {{- link.title }}
                                        {% if hasChild %}
                                            <span>
                                                <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                <path d="M1.02943 9L-8.99959e-08 7.97057L3.34383 4.61943L-6.75927e-07 1.2683L1.02943 0.238867L5.41 4.61943L1.02943 9Z" fill="currentColor"/>
                                                </svg>
                                            </span>
                                        {% endif %}
                                    </{% if hasChild %}span{% else %}a{% endif %}>

                                    {% if hasChild %}
                                        <div class="mobile-menu--submenu pos-absolute left-0 top-0 width-100 height-100" data-has-child>
                                            <button class="mobile-menu--back width-100" data-back-to-menu>
                                                <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                <path d="M4.97057 9L6 7.97057L2.65617 4.61943L6 1.2683L4.97057 0.238867L0.590001 4.61943L4.97057 9Z" fill="currentColor"/>
                                                </svg>
                                                <span>Retour</span>
                                            </button>
                                            <ul class="mobile-menu--submenu-list">
                                                {% for childLink in link.links %}
                                                    {% assign childIndex = forloop.index %}
                                                    <li class="mobile-menu--item menu-item-{{ childIndex }}"{% if childLink.links.size > 0 %} data-menu-item{% endif %}>
                                                        <{% if childLink.links.size > 0 %}span{% else %}a href="{{ childLink.url }}"{% endif %} class="mobile-menu--link heading-font h5 cursor-pointer">
                                                            {{- childLink.title -}}
                                                            {% if childLink.links.size > 0 %}
                                                                <span>
                                                                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                                        <path d="M1.02943 9L-8.99959e-08 7.97057L3.34383 4.61943L-6.75927e-07 1.2683L1.02943 0.238867L5.41 4.61943L1.02943 9Z" fill="currentColor"/>
                                                                    </svg>
                                                                </span>
                                                            {% endif %}
                                                        </{% if childLink.links.size > 0 %}span{% else %}a{% endif %}>

                                                        {% if childLink.links.size > 0 %}
                                                            <div class="mobile-menu--submenu inner-submenu pos-absolute left-0 top-0 width-100 height-100" data-has-grandchild>
                                                                <button class="mobile-menu--back width-100" data-back-to-menu>
                                                                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                                        <path d="M4.97057 9L6 7.97057L2.65617 4.61943L6 1.2683L4.97057 0.238867L0.590001 4.61943L4.97057 9Z" fill="currentColor"/>
                                                                    </svg>
                                                                    <span>Retour</span>
                                                                </button>
                                                                <ul class="mobile-menu--submenu-list inner-submenu-list">
                                                                    {% for grandChildLink in childLink.links %}
                                                                        {% assign grandchildIndex = forloop.index %}
                                                                        <li class="mobile-menu--item menu-item-{{ grandchildIndex }}">
                                                                            <a href="{{ grandChildLink.url }}" class="mobile-menu--link text-xlarge">{{- grandChildLink.title -}}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}    
                                                <li class="mobile-menu--item menu-item-{{ link.links.size | plus: 1 }}">
                                                    {% render 'hamburger-megamenu',
                                                        link: link,
                                                        section: section,
                                                        block: section.blocks,
                                                        megamenuStyle: megamenuStyle
                                                    %}
                                                </li> 
                                            </ul>
                                            
                                        </div>
                                    {% endif %} 
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>
                <div class="mobile--menu-footer-top">
                    {% liquid 

                        assign accountIcon = false
                        if section.settings.show_account_icon and shop.customer_accounts_enabled 
                            assign accountIcon = true
                        endif
                    %}
                    {% if accountIcon %}
                        <a class="button medium-button" href="{%- if customer -%}{{- routes.account_url -}}{%-else-%}{{ routes.account_login_url }}{%- endif -%}">
                            <span>{%- if customer -%}Mon compte{%-else-%}Connexion{%- endif -%}</span>
                        </a>
                    {% endif %}
                </div>
                <div class="mobile--menu-footer">
                    {% if settings.is_country_selector or settings.is_language_selector %}
                        <localization-context type="button" is="localization-context" class="localization-form" data-size="{{ localization.available_countries.size }}">
                            <div class="localization--current-locale">
                            {% render 'icons', icon: 'globe' %}
                            <span>
                                {%- if settings.is_country_selector -%}
                                {{- localization.country.currency.symbol }}
                                {{ localization.country.currency.iso_code -}}
                                {%- endif -%}
                                {%- if settings.is_language_selector -%}
                                {%- if settings.is_country_selector %} / {% endif -%}
                                {{- localization.language.iso_code | upcase -}}
                                {%- endif -%}
                            </span>
                            </div>
                        </localization-context>
                    {% endif %}
                    
                    
                        {% render 'social-icons' %}
                    
                </div>
            </div>
        </div>
        </div>
    </div>
</mobile-menu>