<div class="password-popup--content width-100 text-center">
  {% if section.settings.popup_heading != blank %}
    <h5 class="h4 heading-font password-popup--heading">{{ section.settings.popup_heading }}</h5>
  {% endif %}
  {% if section.settings.popup_desc != blank %}
    <p class="password-popup--desc">{{ section.settings.popup_desc | newline_to_br }}</p>
  {% endif %}

  <div class="password-popup--form">
    {%- form 'storefront_password', class: 'password-form' -%}
      <div class="form-group text-left">
        <label class="hidden" for="{{ 'general.password_page.login_form_password_label' | t }}">
          {{- 'general.password_page.login_form_password_label' | t -}}
        </label>
        <input
          type="password"
          name="password"
          id="Password"
          class="form-control"
          autocomplete="current-password"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="PasswordLoginForm-password-error"
          {%- endif -%}
          placeholder="{{- 'general.password_page.login_form_password_placeholder' | t -}}"
        >
      </div>

      {%- if form.errors -%}
        <div data-form-error class="form--message error" tabindex="-1" autofocus>
          {{ 'general.password_page.login_form_error' | t -}}
        </div>
      {%- endif -%}
      <button name="commit" class="button medium-button button-block">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    {%- endform -%}
    <div class="password-popup--info">
      <span>{{ 'general.password_page.admin_link_html' | t -}}</span>
    </div>
  </div>
</div>
