{% liquid
  assign currentVariant = product.selected_or_first_available_variant
  assign product_form_id = 'quick-view-product-form-' | append: section.id | append: '-' | append: product.id
  assign quick_first_3d_model = product.media | where: 'media_type', 'model' | first

  assign image_size = section.settings.image_ratio
  if image_size == 'landscape'
    assign imageRatio = '70%'
  elsif image_size == 'square'
    assign imageRatio = '100%'
  elsif image_size == 'portrait'
    assign imageRatio = '130%'
  else
    assign imageRatio = 100 | append: '%'
  endif
%}
<quick-view-drawer
  class="side-drawer quickview--side-drawer scheme-{{ section.settings.color_scheme }}"
  id="QuickViewDrawer"
  data-drawer="quick-view-drawer"
  data-section-id="{{ section.id }}"
  quick-view-drawer-section
  data-id="{{ section.id }}"
>
  {%- if quick_first_3d_model -%}
    <script type="application/json" id="ProductJSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
  {%- endif -%}

  <div class="close-fullwidth" data-close-drawer></div>
  <div class="side--drawer-panel">
    <div class="side--drawer-inner">
      <close-drawer>
        <button class="drawer-close" data-drawer-close>
          {% render 'icons', icon: 'cross-icon' %}
        </button>
      </close-drawer>
      <div class="side--drawer-body">
        <div class="quickview--drawer-main">
          <div class="quickview--product-media pos-relative">
            {% if product != blank %}
              {% if product.media.size > 0 %}
                <swiper-content data-resize="false" class="quickview--product-thumbnail"> 
              {% endif %}
              <div
                class="quickview--product-slider{% if product.media.size > 0 %} swiper{% endif %}"
                {% if product.media.size > 0 %}
                  data-swiper='
                    {
                        "loop": true,
                        "speed": 800,
                        "slidesPerView": {% if product.media.size > 2 %}1.5{% else %}1{% endif %},
                        "centeredSlides": true,
                        "spaceBetween": 4,
                        "pagination": {
                          "enabled": false,
                          "el": ".swiper-pagination-{{ section.id }}-{{ product.id }}",
                          "type": "bullets",
                          "clickable":true
                        },
                        "navigation": {
                          "nextEl": ".swiper-button-next-{{ section.id }}-{{ product.id }}",
                          "prevEl": ".swiper-button-prev-{{ section.id }}-{{ product.id }}"
                        }
                    }
                  '
                {% endif %}
              >
                <div class="quickview--product-slider-inner{% if product.media.size > 0 %} swiper-wrapper is-slider pb-0 {% endif %}">
                  {% if product.media.size > 0 %}
                    {% comment %}
                      <div
                        class="quickview--product-item{% if product.media.size > 0 %} swiper-slide {% endif %}"
                        data-media-id="{{ section.id }}-{{ product.featured_media.id }}"
                      >
                        <div class="quickview--product-img media-wrapper">
                          <div class="media" style="--image_ratio:{{ imageRatio }};">
                            {% if product.media.size > 0 %}
                              {% render 'lazy-image', image: product.featured_media.preview_image %}
                            {% else %}
                              {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endcomment %}
                    {% for media in product.media %}
                      {% comment %} {% unless media.id == product.featured_media.id %} {% endcomment %}
                      {% capture product_images %} 
                        <div
                          class="quickview--product-item swiper-slide"
                          data-media-id="{{ section.id }}-{{ media.id }}"
                        >
                          <div class="quickview--product-img media-wrapper">
                            <div class="media" style="--image_ratio:{{ imageRatio }};">
                              {% case media.media_type %}
                                {% when 'image' %}
                                  {% if product.featured_media != blank %}
                                    {% render 'lazy-image', image: media %}
                                  {% endif %}
                                {%- when 'video' -%}
                                  {%- liquid
                                    if media.preview_image.aspect_ratio
                                      assign media_aspect_ratio = media.preview_image.aspect_ratio
                                    endif
                                  -%}

                                  {%- liquid
                                    if media.preview_image.aspect_ratio
                                      assign media_aspect_ratio = media.preview_image.aspect_ratio
                                    endif
                                  -%}
                                  <deferred-media-video
                                    class="deferred-media"
                                    class="deferred-media autoplay-status-true"
                                    id="deffered-{{ media.media_type }}"
                                    data-type="{{ media.media_type }}"
                                  >
                                    <template>
                                      {{
                                        media
                                        | media_tag:
                                          loading: 'lazy',
                                          class: 'no-js-hidden',
                                          autoplay: false,
                                          loop: true,
                                          controls: true,
                                          preload: 'none'
                                      }}
                                    </template>
                                  </deferred-media-video>

                                {%- when 'external_video' -%}
                                  {% liquid
                                    assign videoUrl = media | external_video_url
                                    assign videoClass = 'youtube-video'
                                    if videoUrl contains 'vimeo'
                                      assign videoClass = 'vimeo-video'
                                    endif
                                  %}

                                  <deferred-media-video
                                    class="deferred-media"
                                    class="deferred-media autoplay-status-true"
                                    id="deffered-{{ media.media_type }}"
                                    data-type="{{ media.media_type }}"
                                  >
                                    <template>
                                      {{
                                        media
                                        | external_video_url: autoplay: false, loop: false, controls: true
                                        | external_video_tag: class: videoClass, loading: 'lazy'
                                      }}
                                    </template>
                                  </deferred-media-video>

                                {%- when 'model' -%}
                                  {%- liquid
                                    if media.preview_image.aspect_ratio
                                      assign media_aspect_ratio = media.preview_image.aspect_ratio
                                    endif
                                  -%}
                                  <product-model>
                                    {{
                                      media
                                      | model_viewer_tag:
                                        image_size: true,
                                        reveal: 'interaction',
                                        toggleable: true,
                                        data-model-id: media.id
                                    }}

                                    <button class="close-product-model hidden">
                                      <svg width="12" height="12" viewBox="0 0 22 22" fill="none">
                                        <path d="M21.7987 20.826L11.9721 10.9958L21.7987 1.16552C22.0561 0.899047 22.0561 0.476499 21.7987 0.20994C21.5349 -0.0632507 21.0997 -0.0708067 20.8266 0.193065L11 10.0233L1.17343 0.193149C0.907055 -0.0642582 0.484664 -0.0642582 0.218204 0.193149C-0.0548867 0.457021 -0.0624398 0.892415 0.201335 1.16561L10.0279 10.9958L0.201335 20.826C0.0724268 20.9549 1.71925e-08 21.1298 1.71925e-08 21.3122C-8.39964e-05 21.692 0.307751 21.9999 0.687425 22C0.869793 22.0002 1.04469 21.9276 1.17343 21.7984L11 11.9682L20.8266 21.7985C20.9553 21.9277 21.1303 22.0002 21.3127 22C21.4949 21.9999 21.6696 21.9275 21.7985 21.7987C22.0671 21.5301 22.0672 21.0946 21.7987 20.826Z" fill="currentColor"></path>
                                      </svg>
                                    </button>
                                    <button
                                      class="button button--full-width product__xr-button"
                                      type="button"
                                      aria-label="{{ 'products.product.xr_button_label' | t }}"
                                      data-shopify-xr
                                      data-shopify-model3d-id="{{ media.id }}"
                                      data-shopify-title="{{ product.title | escape }}"
                                      data-shopify-xr-hidden
                                    >
                                      {{ 'products.product.xr_button' | t }}
                                    </button>
                                  </product-model>
                              {% endcase %}
                            </div>
                          </div>
                        </div>
                      {% endcapture %}

                      {% if product.media.size == 1 %}
                        {% for i in (1..3) %}
                          {{ product_images }}
                        {% endfor %}
                      {% else %}
                        {{ product_images }}
                      {% endif %}
                      {% comment %} {% endunless %} {% endcomment %}
                    {% endfor %}
                  {% else %}
                    <div class="quickview--product-item">
                      <div class="quickview--product-img media-wrapper">
                        <div class="media" style="--image_ratio:{{ imageRatio }};">
                          {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="swiper-pagination swiper-pagination-{{ section.id }}-{{ product.id }}"></div>
              {% if product.media.size > 0 %}
                </swiper-content>
              {% endif %}
            {% else %}
              <div class="quickview--product-item">
                <div class="quickview--product-img media-wrapper">
                  <div class="media" style="--image_ratio:{{ imageRatio }};">
                    {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          <div class="quickview--drawer-content">
            {% render 'product-set',
              section: section,
              product: product,
              currentVariant: currentVariant,
              product_form_id: product_form_id,
              source: 'quick-view'
            %}
          </div>
        </div>
      </div>
    </div>
  </div>
</quick-view-drawer>
