{%- form 'recover_customer_password', class: 'account--form' -%}
  {% assign recover_success = form.posted_successfully? %}

  {%- if form.errors -%}
    <div class="form--message error" tabindex="-1" autofocus>
      {{ form.errors.messages.form }}
    </div>
  {%- endif -%}

  <div class="form-group">
    <label for="RecoverEmail">
      {{ 'customer.login_page.email' | t }}
    </label>
    <input
      type="email"
      value=""
      class="form-control"
      name="email"
      id="RecoverEmail"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="email"
      {% if form.errors %}
        aria-invalid="true"
        aria-describedby="RecoverEmail-email-error"
        autofocus
      {% endif %}
      placeholder="Adresse e-mail"
    >
  </div>
  <button class="button medium-button button-block">
    {{ 'customer.login_page.submit' | t }}
  </button>

  <div class="account--text-info text-medium text-center">
    {% if settings.account_behaviour == 'drawer' and request.page_type != 'customers/login' %}
      <account-event class="text-underline cursor-pointer" data-target="login">
        <a href="/">{{- 'customer.login_page.cancel' | t -}}</a>
      </account-event>
    {% else %}
      <a class="text-underline" href="#login" data-target-login>
        {{ 'customer.login_page.cancel' | t }}
      </a>
    {% endif %}
  </div>
{%- endform -%}
