{% liquid
  assign product_form_id = 'main-product-form-' | append: section.id | append: '-' | append: product.id
%}
<div class="sticky--add-to-cart-wrapper" is="sticky-feature" data-custom-dropdown-wrapper>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'title' %}
        {% liquid
          assign title = product.title
        %}
      {% when 'sku' %}
        {% liquid
          assign sku = currentVariant.sku
        %}

      {% when 'variant_picker' %}
        {% capture variant_set %}  
                {% unless product.has_only_default_variant %}
                    <variants-set data-template="{{ template }}" data-handle="{{ product.handle }}" data-section="{{ section.id }}" data-product="{{ product.id }}" data-url="{{ product.url }}"  data-unavailable="false"
                    data-preorder="{{ settings.enable_preorder }}" class="no-js-hidden sticky--product-block sticky--product-variant-wrapper">
                       
                    {% for option in product.options_with_values %}
                    <div class="sticky--product-{{ option.name | downcase }}-varient sticky--product-varient" {{ block.shopify_attributes }}>
                        <custom-dropdown class="d-block sticky-collapsible-content--block height-100" data-desktop-only>
                            <button class="sticky-collapsible-content-button body-font font-bold"  data-dropdown-button> {{ option.name }}
                            <span class="sticky-collapsible-button-icon">{% render 'icons', icon: 'angle-down' %}</span>
                            </button>
                                <div class="sticky--product-dropdown-content" data-dropdown-content>
                                    {% unless product.has_only_default_variant %}
                                     
                                        {% render 'variant-swatches-layout', product: product, source: 'main-product', section: section, option:option, index: forloop.index %}
                                     
                                    {% endunless %}
                                </div>
                        </custom-dropdown>
                    </div>
                    {% endfor %}
                    <script type="application/json">
                    {{ product.variants | json }}
                    </script>
                    <script type="application/json" data-selected-variant-json>
                      {{ product.selected_or_first_available_variant | json }}
                    </script>
                    <script type="application/json" data-name="main-product-options">
                    {{ product.options_with_values | json }}
                  </script>
                  <script type="application/json" data-name="main-product-inventories">
                    [
                    {% for variant in product.variants %}
                      {
                        "id": {{- variant.id -}},
                        "inventory_management": "{{- variant.inventory_management -}}",
                        "inventory_policy": "{{- variant.inventory_policy -}}",
                        "inventory_quantity": "{{- variant.inventory_quantity -}}"
                      }{%- unless forloop.last -%},{%- endunless -%}
                    {% endfor %}
                    ]
                  </script>
                </variants-set>    
                  <noscript>
                    <div class="product--variants-title {{ settings.label_font }} text">Options</div>
                    <select
                      id="variants-{{ section.id }}"
                      name="id"
                      {% if product_form_id != blank %}
                        form="{{ product_form_id }}"
                      {% endif %}
                      aria-label="Product options"
                    >
                      {% for variant in product.variants %}
                        <option
                          value="{{ variant.id }}"
                          {% if variant.selected %}
                            selected
                          {% endif -%}
                          {% if variant.available == false %}
                            disabled
                          {% endif %}
                        >
                          {{ variant.title }} - {{ variant.price | money }}
                        </option>
                      {% endfor %}
                    </select>
                  </noscript>
                {% endunless %}
            {% endcapture %}

      {% when 'buy_button' %}
        {% capture buy_button %}
            {% render 'purchase-buttons', product: product, section_id: section.id, block: block, currentVariant: currentVariant, product_form_id: product_form_id %}
         {% endcapture %}

      {% when 'payment_icons' %}
        {% liquid
          assign enabled_payment_types = shop.enabled_payment_types
        %}
    {% endcase %}
  {% endfor %}

  <div class="sticky--product-img-wrapper">
    <div class="sticky--product-img">
      <div class="media media-wrapper" style="--image_ratio:100%">
        {% if product.featured_media != blank %}
          {% render 'lazy-image', image: product.featured_media.preview_image %}
        {% else %}
          {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    </div>
    {% if title != blank %}
      <div class="sticky--product-title">
        {% if sku != blank %}
          <p
            class="product--sku product--description"
            id="product--sku-{{ section.id }}"
            {{ block.shopify_attributes }}
          >
            {{ currentVariant.sku }}
          </p>
        {% endif %}
        <h1 class="product--title text-medium">{{ title }}</h1>
        {% assign priceBlock = section.blocks | where: 'type', 'price' | first %}
        {% render 'product-price',
          section: section,
          product: product,
          currentVariant: currentVariant,
          block: priceBlock
        %}
        {% if product != blank %}
          <div {{ block.shopify_attributes }} class="product--installment-form">
            {%- assign product_form_installment_id = 'main-product-form-installment-' | append: section.id -%}
            {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              {{ form | payment_terms }}
            {%- endform -%}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="sticky--product-qty-wrapper">
    {{ variant_set }}
    <div class="sticky--product-quantity sticky--product-block">
      <custom-dropdown class="d-block sticky-collapsible-content--block height-100" data-desktop-only>
        <button class="sticky-collapsible-content-button body-font font-bold" data-dropdown-button>
          {{ 'products.product.quantity.label' | t }}
          <span class="sticky-collapsible-button-icon">{% render 'icons', icon: 'angle-down' %}</span>
        </button>
        <div class="sticky--product-dropdown-content" data-dropdown-content>
          <div class="sticky--product-variant-label {{ settings.label_font }} text">
            {{ 'products.product.quantity.other_label' | t }}
          </div>
          {% render 'product-quantity', section: section, block: block, source: 'main-product', product_form_id: product_form_id %}
        </div>
      </custom-dropdown>
    </div>
  </div>

  <div class="sticky--product-buttons sticky--product-block">
    {{ buy_button }}
  </div>
</div>
