<sticky-buy-button
  class="sticky-buy-button-wrapper fade-out"
  id="sticky-buy-button-{{ section.id }}"
  form="main-product-form-{{ section.id }}"
>
  <div class="sticky--button-box">
    <div class="sticky--product-card" id="StickyProductForm-{{ section.id }}">
      <div class="sticky--product-info">
        <div class="sticky--product-image media-wrapper">
          <div class="media" style="--image_ratio:100%;">
            {% if product.featured_media != blank %}
              {% render 'lazy-image', image: product.featured_media.preview_image %}
            {% else %}
              {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        </div>
        <div class="sticky--product-detail">
          {% if product != blank %}
            <p class="product--title">
              {{- product.title | escape -}}
            </p>
          {% endif %}
          <div class="product--pricing" id="sticky-price--wrapper-{{ section.id }}">
            {% render 'product-price', product: product, currentVariant: currentVariant, source: 'sticky-buy-button' %}
          </div>
        </div>
      </div>
      <div class="sticky--product-expand-detail">
        <button
          type="submit"
          name="add"
          form="main-product-form-{{ section.id}}-{{ product.id }}"
          data-button="product--submit-{{ product.id }}"
          id="sticky-product--submit-btn-{{ section.id }}"
          class="sticky--atc-button"
          data-add-to-cart
          aria-label="{{ 'products.product.add_to_cart' | t }}"
          data-sticky-buy-button
          {% if currentVariant.available == false or quantity_rule_soldout %}
            disabled="disabled"
          {% endif %}
        >
          <span data-atc-text data-product-button>
            {%- render 'icons', icon: 'cart' -%}
            <span class="sticky--atc-label">{{ 'products.product.add_to_cart' | t }}</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</sticky-buy-button>
