<store-locator
  class="side-drawer store--locator-side-drawer scheme-{{ section.settings.color_scheme }}"
  id="StoreLocator"
  data-drawer="store-locator"
  data-section-id="{{ section.id }}"
>
  <div class="close-fullwidth" data-close-drawer></div>
  <div class="side--drawer-panel">
    <div class="side--drawer-inner">
      <div class="side--drawer-header">
        <h5 class="heading-font h5">{{ section.settings.heading | default: 'Store locator' }}</h5>
        <close-drawer>
          <button class="drawer-close" data-drawer-close>
            {% render 'icons', icon: 'cross-icon' %}
          </button>
        </close-drawer>
      </div>
      <div class="side--drawer-body">
        <div class="store--locator-main">
          {% if section.blocks.size > 0 %}
            <ul class="store--locator-location-list">
              {% for block in section.blocks %}
                <li class="store--locator-location-list-item" {{ block.shopify_attributes }}>
                  {% if block.settings.address_image != blank %}
                    <div class="store--locator-store-image media-wrapper">
                      <div class="media" style="--image_ratio:85%;">
                        {%- render 'lazy-image', image: block.settings.address_image -%}
                      </div>
                    </div>
                  {% endif %}
                  <div class="store--locator-store-content">
                    {% if block.settings.address_heading != blank %}
                      <p class="text-xlarge store--locator-store-title heading-font">
                        {{ block.settings.address_heading }}
                      </p>
                    {% endif %}
                    {% if block.settings.address_content != blank %}
                      <address class="store--locator-store-address font-normal">
                        {{ block.settings.address_content }}
                      </address>
                    {% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            {% render 'empty-card', source: 'store-locator' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</store-locator>
