{% if section.index <= 2 %}
  {{ 'main-blog.css' | asset_url | preload_tag: as: 'style' }}
{% endif %}
{{ 'main-blog.css' | asset_url | stylesheet_tag }}
<div class="section-wrapper section-spacing scheme-{{ section.settings.color_scheme }} section-{{ section.settings.section_background }}">
  {% assign limit = section.settings.artical_per_page %}
  {%- paginate blog.articles by limit -%}
    <div class="main-blog--wrapper" data-page-limit="{{ section.settings.artical_per_page }}">
      <div class="container-fullwidth">
        <div class="main-blog--items-wrapper{% if section.settings.enable_swipe_mobile %} mobile-swipe{% endif %}">
          {%- for article in blog.articles -%}
            {% assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 %}
            {% assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index %}
            {% render 'blog-card',
              article: article,
              section: section,
              placeholder_image: placeholder_image,
              cardImageSize: section.settings.image_ratio,
              showReadmoreButton: true
            %}
          {% endfor %}
        </div>

        {% liquid
          if paginate.pages > 1
            render 'pagination', paginate: paginate
          endif
        %}
      </div>
    </div>
  {% endpaginate %}
</div>
<style>
  #shopify-section-{{ section.id }} {
    --top_spacing: {{ section.settings.top_space_desktop }}px;
    --bottom_spacing: {{ section.settings.bottom_space_desktop }}px;
    --column_count: {{ section.settings.desktop_column_count }};

  }
  @media only screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      --top_spacing: {{ section.settings.top_space_mobile }}px !important;
      --bottom_spacing: {{ section.settings.bottom_space_mobile }}px !important;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.Overlay"]
  },
  "class": "section-main-blog",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "section_background",
      "label": "t:sections.all.section_background.label",
      "default": "solid",
      "options": [
        {
          "label": "t:sections.all.section_background.solid.label",
          "value": "solid"
        },
        {
          "label": "t:sections.all.section_background.gradient.label",
          "value": "gradient"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.blog_posts"
    },
    {
      "type": "range",
      "id": "artical_per_page",
      "min": 3,
      "max": 24,
      "step": 3,
      "default": 12,
      "label": "t:sections.main-blog.settings.artical_per_page.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "t:sections.main-blog.settings.show_author.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "t:sections.main-blog.settings.show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": true,
      "label": "t:sections.main-blog.settings.show_excerpt.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.main-blog.settings.image_ratio.label",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.image_ratio.auto_ratio.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image_ratio.landscape.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.image_ratio.square.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image_ratio.portrait.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.section_spacing_heading"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.all.spacing.top_space_desktop",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.all.spacing.bottom_space_desktop",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.all.spacing.top_space_mobile",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.all.spacing.bottom_space_mobile",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ]
}
{% endschema %}
