{% if section.index <= 2 %}
  {{ 'cart.css' | asset_url | preload_tag: as: 'style' }}
{% endif %}
{{ 'cart.css' | asset_url | stylesheet_tag }}
{% liquid
  assign status = false
  assign shippingRate = settings.shipping_rate | times: 100
  assign cartTotal = cart.total_price
  assign shippingPrice = shippingRate | minus: cartTotal
  if shippingPrice > 0
    assign sprice = shippingPrice 
    assign shippingPrice = shippingPrice | abs | money
    assign shippingMessage = settings.shipping_message | replace: '[amount]', shippingPrice
  else
    assign shippingMessage = settings.free_shipping_text
    assign status = true
  endif

  assign shippingPercentage = cartTotal | times: 100 | divided_by: shippingRate
  if shippingPercentage > 10 and shippingPercentage < 100
    assign shippingPercentage = shippingPercentage
  elsif shippingPercentage > 100
    assign shippingPercentage = 100
  endif
%}
<div class="section-wrapper section-spacing scheme-{{ section.settings.color_scheme }} section-{{ section.settings.section_background }}">
  <div class="{{ settings.container_width }}">
    <div
      class="main-cart--outer main--cart-render cart-render"
      data-section="{{ section.id }}"
      data-cart-wrapper
      data-item-count="{{ cart.item_count }}"
      id="main-cart"
      data-id="{{ section.id }}"
      data-cart-total="{{ cartTotal }}"
      data-cart-shipping="{{ sprice }}"
      data-cart-rate="{{ shippingRate }}"
      style="--progress_width:{{shippingPercentage}}%;"
      
    >
      {% if cart.item_count == 0 %}
        {% render 'empty-card', source: 'cart' %}
      {% else %}
        {% if section.settings.show_cart_description == true or section.settings.show_cart_heading == true %}
          <div class="section--header">
            <div class="section--header-inner">
              {% if section.settings.seo_heading != blank and section.settings.show_cart_heading %}
                <{{ section.settings.seo_heading }} class="section--heading heading-font {{ section.settings.heading_size }}">
                  {{ section.settings.heading }}
                </{{ section.settings.seo_heading }}>
              {% endif %}
              {% if section.settings.show_cart_description and section.settings.description != blank %}
                <p class="section--description {{ section.settings.description_size }}">
                  {{ section.settings.description }}
                </p>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div class="main-cart--wrapper{% if section.settings.layout_p == true %} featured-images-enable{% endif %}">
          <div class="main-cart--content">
            {% render 'cart-shipping-bar' %}
            {% if cart != empty %}
              <cart-items class="d-block{% if cart == empty %} is-empty{% endif %}" data-cart-items>
                <form
                  action="{{ routes.cart_url }}"
                  id="cart"
                  class="main-cart--form"
                  method="post"
                  main-cart-items
                >
                  {%- for item in cart.items -%}
                    <div
                      class="cart-product-item"
                      data-line-item
                      id="cart-product-item-{{ item.index | plus: 1 }}"
                      data-product-id="{{ item.id }}"
                    >
                      {% if item.image %}
                        <a href="{{ item.url }}" class="d-block cart-product-media media-wrapper">
                          <div class="media" style="--image_ratio: 100%">
                            {%- render 'lazy-image', image: item.image -%}
                          </div>
                        </a>
                      {% else %}
                        <div class="d-block cart-product-media media-wrapper">
                          <div class="media" style="--image_ratio:100%">
                            {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                        </div>
                      {% endif %}
                      <div class="cart-product-details">
                        <div class="cart-product-details-content">
                          <a
                            href="{{ item.url }}"
                            cart-item-name
                            class="product--title heading-font"
                          >
                            {{- item.product.title -}}
                          </a>

                          <div class="product--pricing">
                            {%- if item.original_price != item.final_price -%}
                              <span class="product--cut-price line-through">
                                {{- item.original_price | money -}}
                              </span>
                              <span class="product--actual-price text-medium">
                                {{ item.final_price | money }}
                              </span>

                            {%- else -%}
                              <span class="product--actual-price text-medium">
                                {{ item.original_price | money }}
                              </span>
                            {%- endif -%}

                            {%- if item.unit_price_measurement -%}
                              <span class="product-unit-price uppercase text-small">
                                {{ item.unit_price | money }}
                                /
                                {%- if item.unit_price_measurement.reference_value != 1 %}
                                  {{ item.unit_price_measurement.reference_value -}}
                                {%- endif %}
                                {{ item.unit_price_measurement.reference_unit }}
                              </span>
                            {%- endif -%}
                          </div>

                          {% if item.line_level_discount_allocations.size > 0 %}
                            {%- for discount in item.line_level_discount_allocations -%}
                              <div class="product-discount-item discount-item">
                                <span>
                                  <strong>{{ discount.discount_application.title }}</strong>
                                </span>
                              </div>
                            {% endfor %}
                          {% endif %}

                          {% if item.product.has_only_default_variant == false
                            or item.selling_plan_allocation
                            or item.properties.size > 0
                          %}
                            <ul class="cart-product-options">
                              {% for option in item.options_with_values %}
                                <li>
                                  <span>{{ option.name }}</span>
                                  :
                                  <span>{{ option.value }}</span>
                                </li>
                              {%- endfor -%}
                              {%- if item.selling_plan_allocation -%}
                                <li>{{ item.selling_plan_allocation.selling_plan.name }}</li>
                              {%- endif -%}
                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <li>
                                    <span>{{ property.first }}</span>:
                                    {% if property.last contains '/uploads/' -%}
                                      <a
                                        class="unstyled-link line-item-property"
                                        href="{{ property.last }}"
                                        target="_blank"
                                        aria-label="{{ property.first }}"
                                      >
                                        {{ property.last | split: '/' | last }}
                                      </a>
                                    {% else %}
                                      {{ property.last }}
                                    {%- endif -%}
                                  </li>
                                {%- endif -%}
                              {%- endfor -%}
                            </ul>
                          {% endif %}
                        </div>
                        {%- liquid
                          assign has_qty_rules = false
                          if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                            assign has_qty_rules = true
                          endif

                          assign has_vol_pricing = false
                          if item.variant.quantity_price_breaks.size > 0
                            assign has_vol_pricing = true
                          endif

                          assign class_gift_wrap = false
                          if item.variant.id == settings.gift_wrap_product.selected_or_first_available_variant.id and settings.enable_gift_wrap
                            assign class_gift_wrap = true
                            assign giftcardId = settings.gift_wrap_product.selected_or_first_available_variant.id
                          endif
                        -%}
                        {% if class_gift_wrap == false %}
                          <quantity-wrapper class="d-block cart-quantity">
                            <div
                              class="quantity small-quantity cart--update{% if has_qty_rules or has_vol_pricing %} quantity--wrapper-hover{% endif %}"
                              id="quantity--main-product-{{ section.id }}"
                              {{ block.shopify_attributes }}
                            >
                              <quantity-set>
                                <div class="quantity--inner">
                                  <button
                                    type="button"
                                    class="quantity-button quantity--down {{class_gift_wrap}}"
                                    aria-label="decrease"
                                    name="decrease"
                                    is="magnet-button"
                                    button-minus
                                  >
                                    <span class="hidden"></span>
                                    {% render 'icons', icon: 'minus' %}
                                  </button>
                                  <label class="hidden" for="cart--drawer-quantity-{{ item.index | plus: 1 }}"
                                    >{{ 'sections.cart.headings.quantity' | t }}</label
                                  >
                                  <input
                                    class="quantity-input ajax-quantity {{class_gift_wrap}}"
                                    type="number"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    data-previous-value="{{ item.quantity }}"
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="0"
                                    data-min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="cart--drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                  >
                                  <button
                                    type="button"
                                    class="quantity-button quantity--up {{class_gift_wrap}}"
                                    aria-label="increase"
                                    name="increase"
                                    is="magnet-button"
                                    button-plus
                                  >
                                    <span class="hidden"></span>
                                    {% render 'icons', icon: 'plus' %}
                                  </button>
                                </div>
                              </quantity-set>
                            </div>
                          </quantity-wrapper>
                          <div
                            class="form--message error hidden"
                            data-cart-error-{{ item.index | plus: 1 }}
                            id="Line-item-error-{{ item.index | plus: 1 }}"
                            role="alert"
                          ></div>
                        {% endif %}
                      </div>
                      <div class="cart-product-price">
                        <div class="cart-product-total" data-line-total>
                          <div class="product--pricing vertical-view ">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <span class="product--cut-price line-through">
                                {{ item.original_line_price | money }}
                              </span>
                              <span class="product--actual-price text-xlarge font-bold">
                                {{ item.final_line_price | money }}
                              </span>
                            {%- else -%}
                              <span class="product--actual-price text-xlarge font-bold">
                                {{ item.original_line_price | money }}
                              </span>
                            {%- endif -%}

                            {%- if item.unit_price_measurement -%}
                              <span class="product-unit-price uppercase text-small">
                                {{ item.unit_price | money }}
                                /
                                {%- if item.unit_price_measurement.reference_value != 1 %}
                                  {{ item.unit_price_measurement.reference_value -}}
                                {%- endif %}
                                {{ item.unit_price_measurement.reference_unit }}
                              </span>
                            {%- endif -%}
                          </div>
                        </div>
                        <cart-remove-button
                          id="cart--drawer-item-remove-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                          data-count="{{ cart.item_count }}"
                        >
                          <button
                            type="button"
                            class="cart-product-remove"
                            aria-label="Remove {{ item.title }}"
                            data-variant-id="{{ item.variant.id }}"
                          >
                            {% render 'icons', icon: 'trash' %}
                          </button>
                        </cart-remove-button>
                      </div>
                    </div>
                  {% endfor %}
                </form>
                {% comment %} <div class="form--message error hidden" tabindex="-1" data-cart-error=""></div> {% endcomment %}
              </cart-items>
            {% endif %}
            <div class="main-cart--bottom" data-main-cart-footer>
              <div class="main-cart--bottom-left">
                {% if settings.gift_wrap_product != blank
                  and settings.enable_gift_wrap
                  and settings.gift_wrap_text != blank
                  and settings.gift_wrap_product.available
                %}
                  {% render 'cart-gift-wrap', giftWraptemplate: 'cart', item: cart.items %}
                {% endif %}

                {% if section.settings.show_cart_note %}
                  <div class="cart-note-form">
                    <label for="cart-note">{{ 'sections.cart.note' | t }}</label>
                    <textarea
                      class="form-control"
                      rows="4"
                      id="cart-note"
                      name="note"
                      placeholder="{{ 'sections.cart.note' | t }}"
                      form="cart"
                      data-cart-note=""
                    >{{ cart.note }}</textarea>
                  </div>
                {% endif %}
                {% if section.settings.shipping_estimates %}
                  <shipping-calculator class="d-block shippng-estimation-box">
                    <details class="shippng-estimation-content">
                      <summary class="shippng-estimation-head">
                        <span class="text-large">{{ 'sections.cart.shipping_rates' | t }}</span>
                        <svg
                          width="17"
                          height="17"
                          viewBox="0 0 17 17"
                        >
                          <path d="M0 9L-4.37113e-08 8L17 8L17 9L0 9Z" fill="currentColor" />
                          <path d="M8 0L9 0L9 17H8L8 0Z" fill="currentColor" />
                        </svg>
                      </summary>
                      <div class="shippng-estimation-body" data-collapsible-content>
                        {% render 'shipping-calculator' %}
                      </div>
                    </details>
                  </shipping-calculator>
                {% endif %}
              </div>
              <div class="main-cart--bottom-right">
                <div class="cart-summary-price">
                  <div class="cart-summary-price-item" data-subtotal-prices>
                    <span class="text-medium cart-summary-price-title">
                      {{- 'sections.cart.headings.subtotal' | t -}}
                    </span>
                    <span class="text-medium cart-summary-price-amount">
                      {% comment %} {{- cart.original_total_price | money -}} {% endcomment %}
                      {{- cart.items_subtotal_price | money -}}
                    </span>
                  </div>

                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <div class="cart-summary-price-item discount-item total-discount-item" aria-label="cart discount">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <span>
                          {{ discount.title | escape }}
                        </span>
                        <span>-{{ discount.total_allocated_amount | money }}</span>
                      {%- endfor -%}
                    </div>
                  {%- endif -%}
                  <div class="cart-summary-price-item" data-total-prices>
                    <span class="cart-summary-price-title heading-font h6">
                      {{- 'sections.cart.headings.total' | t }}:</span
                    >
                    <span class="cart-summary-price-amount heading-font h6">
                      {{ cart.total_price | money }}
                    </span>
                  </div>
                </div>
                <div class="cart-summary-buttons">
                  <noscript>
                    <button
                      type="submit"
                      id="cartUpdate"
                      form="cart"
                      class="button btn-block secondary-button"
                    >
                      {{ 'sections.cart.update' | t }}
                    </button>
                  </noscript>
                  <button
                    class="button medium-button button-block"
                    id="cartCheckout"
                    type="submit"
                    name="checkout"
                    form="cart"
                  >
                    <span>{{ 'sections.cart.checkout' | t }}</span>
                  </button>

                  <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                    {{ content_for_additional_checkout_buttons }}
                  </div>
                </div>
                {% if section.settings.payment_enable %}
                  <div class="cart-summary-payment text-center">
                    {% render 'payment-icons', section: section %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% if section.settings.layout_p == true %}
            <div class="main-cart--featured-images width-100" data-main-cart-featured-images>
              {%- for item in cart.items -%}
                <div
                  class="cart-featured--item right-side-image width-100 pos-relative{% if forloop.first %} active{% endif %}"
                  data-cart-right-image
                  data-image-id="{{ item.id }}"
                >
                  {% assign features = item.product.metafields.custom.features.value | split: ',' %}
                  {% assign display_features = false %}

                  {% if features.size > 0 %}
                    {% assign display_features = true %}
                  {% endif %}

                  {% if display_features %}
                    <div
                      class="cart-featured--features pos-absolute width-100 height-100 left-0 top-0"
                      data-features="{{ features.size }}"
                    >
                      <h5 class="cart-featured--heading heading-font h5 image-overlay-heading">
                        {{ section.settings.image_heading }}
                      </h5>
                      <ul class="cart-featured--features-list">
                        {% for feature in features %}
                          <li class="cart-featured--features-item text-medium image-overlay-description">
                            {{ feature }}
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                  <div class="cart-featured--image media-wrapper width-100 height-100{% if display_features %} media-overlay{% endif %}">
                    <div
                      class="media"
                      style="--image_ratio:{%- if item.image != blank -%}{{ 1 | divided_by: item.image.aspect_ratio | times: 100 }}{% else %}100{% endif %}%;"
                    >
                      {%- liquid
                        if item.image != blank
                          render 'lazy-image', image: item.image
                        else
                          echo 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg'
                        endif
                      -%}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  {% assign delayCount = 0.1 %}
  {% for i in (1..50) %}
    .cart-featured--features-item:nth-child({{ i }}) {
      transition-delay: {{ delayCount }}s;
    }
    {% assign delayCount = delayCount | plus: 0.1 %}
  {% endfor %}


  #shopify-section-{{ section.id }} {
    --top_spacing: {{ section.settings.top_space_desktop }}px;
    --bottom_spacing: {{ section.settings.bottom_space_desktop }}px;
    --image_overlay_opacity: {{ section.settings.overlay_opacity }};

  }
  @media only screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      --top_spacing: {{ section.settings.top_space_mobile }}px !important;
      --bottom_spacing: {{ section.settings.bottom_space_mobile }}px !important;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.main-cart.name",
  "class": "section-main-cart",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "section_background",
      "label": "t:sections.all.section_background.label",
      "default": "solid",
      "options": [
        {
          "label": "t:sections.all.section_background.solid.label",
          "value": "solid"
        },
        {
          "label": "t:sections.all.section_background.gradient.label",
          "value": "gradient"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.content.label"
    },
    {
      "type": "checkbox",
      "id": "show_cart_heading",
      "default": true,
      "label": "t:sections.main-cart.settings.show_cart_heading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings_schema.global.settings.heading.label",
      "default": "Your bag"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.h1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.h2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.h3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.h4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.h5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.h6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:sections.all.seo_heading.label",
      "info": "t:sections.all.seo_heading.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "div"
        },
        {
          "value": "span",
          "label": "span"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_cart_description",
      "default": true,
      "label": "t:sections.main-cart.settings.show_cart_description.label"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:settings_schema.global.settings.description.label"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "t:sections.all.description_size.label",
      "default": "text-large",
      "options": [
        {
          "label": "t:sections.all.description_size.text-xsmall.label",
          "value": "text-xsmall"
        },
        {
          "label": "t:sections.all.description_size.text-small.label",
          "value": "text-small"
        },
        {
          "label": "t:sections.all.description_size.text.label",
          "value": "text"
        },
        {
          "label": "t:sections.all.description_size.text-medium.label",
          "value": "text-medium"
        },
        {
          "label": "t:sections.all.description_size.text-large.label",
          "value": "text-large"
        },
        {
          "label": "t:sections.all.description_size.text-xlarge.label",
          "value": "text-xlarge"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.cart"
    },
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "default": true,
      "label": "t:sections.main-cart.settings.show_cart_note.label"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.enable_payment_icons.label"
    },
    {
      "type": "checkbox",
      "id": "shipping_estimates",
      "default": true,
      "label": "t:sections.main-cart.settings.shipping_estimates.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.featured_image"
    },
    {
      "type": "checkbox",
      "id": "layout_p",
      "label": "t:sections.main-cart.settings.layout_p.label",
      "default": true,
      "info": "t:sections.main-cart.settings.layout_p.info"
    },
    {
      "type": "text",
      "id": "image_heading",
      "label": "t:settings_schema.global.settings.heading.label",
      "default": "Features"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "default": 0.2,
      "label": "t:settings_schema.global.settings.image_overlay_opacity.label",
      "min": 0,
      "max": 1,
      "step": 0.1
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.section_spacing_heading"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.all.spacing.top_space_desktop",
      "default": 100,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.all.spacing.bottom_space_desktop",
      "default": 100,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.all.spacing.top_space_mobile",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.all.spacing.bottom_space_mobile",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ]
}
{% endschema %}
