{{ 'account.css' | asset_url | stylesheet_tag }}
<div class="section-wrapper section-spacing scheme-{{ section.settings.color_scheme }} section-{{ section.settings.section_background }} pos-relative">
  <div class="container-fullwidth">
    <div class="account--card pos-relative">
      <div class="section--header text-center">
        <h3 class="section--heading heding-font {{ section.settings.heading_size }}">
          {{ 'customer.reset_password.title' | t }}
        </h3>
      </div>
      <div class="account--card-box">
        <div class="account--left-content">
          {%- form 'reset_customer_password', class: 'account--form' -%}
            {%- if form.errors -%}
              <div
                class="form--message error"
                tabindex="-1"
                autofocus
              >
                <ul>
                  {%- for field in form.errors -%}
                    <li>
                      {%- if field == 'form' -%}
                        {{ form.errors.messages[field] }}
                      {%- else -%}
                        <a href="#RegisterForm-{{ field }}" class="text-small">
                          {{ form.errors.translated_fields[field] | capitalize }}
                          {{ form.errors.messages[field] }}
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}

            <div class="form-group">
              <label for="password">{{ 'customer.reset_password.password' | t }}</label>
              <input
                type="password"
                class="form-control"
                name="customer[password]"
                id="password"
                placeholder="{{ 'customer.reset_password.password' | t }}"
              >
            </div>
            <div class="form-group">
              <label for="password_confirmation">
                {{- 'customer.reset_password.password_confirm' | t -}}
              </label>
              <input
                type="password"
                class="form-control"
                name="customer[password_confirmation]"
                id="password_confirmation"
                placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
              >
            </div>

            <button role="button" class="button medium-button button-block">
              {{ 'customer.reset_password.submit' | t }}
            </button>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{ section.id }} .section-spacing {
    --top_spacing: {{ section.settings.top_space_desktop }}px;
    --bottom_spacing: {{ section.settings.bottom_space_desktop }}px;
  }
  @media only screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} .section-spacing {
      --top_spacing: {{ section.settings.top_space_mobile }}px !important;
      --bottom_spacing: {{ section.settings.bottom_space_mobile }}px !important;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "class": "customer-page main-reset-password",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "section_background",
      "label": "t:sections.all.section_background.label",
      "default": "solid",
      "options": [
        {
          "label": "t:sections.all.section_background.solid.label",
          "value": "solid"
        },
        {
          "label": "t:sections.all.section_background.gradient.label",
          "value": "gradient"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.h1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.h2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.h3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.h4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.h5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.h6.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.section_spacing_heading"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.all.spacing.top_space_desktop",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.all.spacing.bottom_space_desktop",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.all.spacing.top_space_mobile",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.all.spacing.bottom_space_mobile",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ]
}
{% endschema %}
