{% if section.index <= 2 %}
  {{ 'main-product.css' | asset_url | preload_tag: as: 'style' }}
{% endif %}
{{ 'main-product.css' | asset_url | stylesheet_tag }}
{%- assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}
<pickup-availability-drawer
  class="side-drawer pickup--availability-side-drawer scheme-{{ settings.popup_color_scheme }}"
  tabindex="-1"
  id="PickupDrawer"
  data-drawer="pickup-drawer"
  data-section-id="{{ section.id }}"
>
  <div class="close-fullwidth" data-close-drawer></div>
  <div class="side--drawer-panel">
    <div class="side--drawer-inner">
      <div class="side--drawer-header">
        <h5 class="heading-font h5">{{ 'products.product.pickup_availability.pick_up_available' | t }}</h5>
        <close-drawer>
          <button class="drawer-close" data-drawer-close>
            {% render 'icons', icon: 'cross-icon' %}
          </button>
        </close-drawer>
      </div>
      <div class="side--drawer-body">
        <div class="pickup--availability-main">
          <div class="pickup--availability-info">
            <p class="pickup--availability-drawer-title text-large">
              {{ product_variant.product.title | escape }}
            </p>
            {%- unless product_variant.product.has_only_default_variant -%}
              <p class="pickup--availability-variant text-small">
                {%- for product_option in product_variant.product.options_with_values -%}
                  {%- for value in product_option.values -%}
                    {%- if product_option.selected_value == value -%}
                      <span>{{ value | escape }}</span>
                    {%- endif -%}
                  {%- endfor -%}
                  {%- unless forloop.last -%}/{%- endunless -%}
                {%- endfor -%}
              </p>
            {%- endunless -%}
          </div>
          <ul class="pickup--availability-location-list">
            {%- for availability in pick_up_availabilities -%}
              <li class="pickup--availability-list-item">
                <p class="pickup--availability-title text-xlarge heading-font">
                  {{ availability.location.name | escape }}
                </p>
                <p class="pickup--availability-preview{% if availability.available %} pickup--available{% else %} pickup--unavailable{% endif %}">
                  {%- if availability.available -%}
                    {% render 'icons', icon: 'tick-icon' %}
                    Pickup available,
                    {{ availability.pick_up_time | downcase }}
                  {% else %}
                    {% render 'icons', icon: 'circle-cross' %}
                    Pickup currently unavailable
                  {%- endif -%}
                </p>
                {%- assign address = availability.location.address -%}
                <address class="pickup--availability-address font-normal">
                  {{ address | format_address }}
                  {%- if address.phone.size > 0 -%}
                    <a href="tel:{{ address.phone }}" class="text-underline strore--phone">{{ address.phone }}</a>
                  {%- endif -%}
                </address>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</pickup-availability-drawer>
