{{ 'product-highlights.css' | asset_url | stylesheet_tag }}
{% liquid
  if section.settings.section_container_width == 'global'
    assign containerClass = settings.container_width
    assign HeadingContainerClass = settings.container_width
  else
    assign containerClass = section.settings.section_container_width
    if section.settings.section_container_width  != 'no-container'
      assign HeadingContainerClass = section.settings.section_container_width
    else 
      assign HeadingContainerClass = settings.container_width
    endif
  endif

  if section.settings.highlight_style == 'carousel'
    assign is_slider = true
  else
    assign is_slider = false
  endif
%}
<div class="section-wrapper section-spacing scheme-{{ section.settings.color_scheme }} section-{{ section.settings.section_background }}">
  <div class="{{ HeadingContainerClass }}">
    {% if section.settings.heading != blank or section.settings.description != blank %}
      <variety-heading class="section--header{% if is_slider %} with--arrow{% endif %} text-{{ section.settings.text_alignment }}">
        <div class="section--header-inner" >
          {% if section.settings.heading != blank %}
            {%- capture markersPrefix -%}
              <span class="markers-text {{ section.settings.markers_font }} {{ section.settings.markers_text }}">
            {%- endcapture -%}
            {%- capture markersSuffix -%}
              </span>
            {%- endcapture -%}
            <{{ section.settings.seo_heading }} class="section--heading heading-font {{ section.settings.heading_size }}" {% if settings.is_layout_animation %}data-saos="{{ settings.heading_animation }}" {% endif %}>
              {{ section.settings.heading | replace: "[", markersPrefix | replace: "]", markersSuffix | replace: "++", "<br>" }}
            </{{ section.settings.seo_heading }}>
          {% endif %}
          {% if section.settings.description != blank %}
            <p class="section--description {{ section.settings.description_size }}" {% if settings.is_layout_animation %}data-saos="slide-up" {% endif %}>
              {{ section.settings.description | newline_to_br }}
            </p>
          {% endif %}
        </div>

        {% if is_slider %} 
          <div class="swiper--custom-buttons d-none d-md-flex">
            {% liquid 
              if settings.slilder_button_style == 'square'
                assign btnIcon = 'curve-arrow'
              else
                assign btnIcon = 'arrow-icon'
              endif
            %}
            <swiper-nav class="swiper-button-prev swiper-button-prev-{{ section.id }} swiper-button button-{{ settings.slilder_button_style }}">
              {% render 'icons', icon: btnIcon %}
            </swiper-nav>
            <swiper-nav class="swiper-button-next swiper-button-next-{{ section.id }} swiper-button button-{{ settings.slilder_button_style }}">
              {% render 'icons', icon: btnIcon %}
            </swiper-nav>
          </div>
        {% endif %}
      </variety-heading>
    {% endif %}
  </div>

  <div class="{{ containerClass }}{% if section.settings.mobile_swipe or section.settings.highlight_style == 'carousel' %} m-pr-0{% endif %}">
    {% if is_slider %}
      <swiper-content data-resize="false">
      <div class="product-highlights--outer{% if is_slider %} swiper{% endif %}"
        {% if is_slider %}
          data-swiper='
            {
                "loop": false,
                "speed": 850,
                "slidesPerView": 1.2,
                "allowTouchMove": false,
                "spaceBetween": 10,
                "scrollbar": {
                    "el": ".swiper-scrollbar-{{ section.id }}",
                    "draggable": true
                },
                "navigation": {
                    "nextEl": ".swiper-button-next-{{ section.id }}",
                    "prevEl": ".swiper-button-prev-{{ section.id }}"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 3,
                        "speed": 850,
                        "mousewheel": false,
                        "grabCursor": true,
                        "scrollbar": false
                    },
                    "992": {
                      "slidesPerView": 3
                    },
                    "1366": {
                      "slidesPerView": 3
                    }
                }
            }
          '
        {% endif %}
      >
    {% endif %}
    <div class="product-highlights--wrapper column-count-3{% if section.settings.mobile_swipe %} mobile-swipe{% endif %}{% if is_slider %} swiper-wrapper is-slider{% else %} stacked{% endif %}" data-view="{{ section.settings.highlight_style }}">
      {%- for block in section.blocks -%}
        {%- liquid
            assign product = block.settings.product
            assign image_size = section.settings.image_ratio
            if image_size == 'landscape'
              assign image_ratio = '70%'
            elsif image_size == 'square'
              assign image_ratio = '100%'
            elsif image_size == 'portrait'
              assign image_ratio = '130%'
            else
              if product.featured_image != blank
                assign image_ratio = 1 | divided_by: product.featured_image.aspect_ratio | times: 100 | minus: 1 | append: '%'
              else
                assign image_ratio = 100 | append: '%'
              endif
            endif
            
            capture placeholder_index
              cycle 1, 2, 3, 4
            endcapture
        -%}
        <div class="product-highlights--item{% if is_slider %} swiper-slide{% endif %}" id="product-highlights-item-{{ block.id }}">
          <div class="product-highlights--item-inner pos-relative">
          <div class="product-highlights--media">
            <div class="media" style="--image_ratio:{{ image_ratio }};">
              {%- if product != blank -%}
                {% render 'lazy-image', image: product.featured_image %}
              {%- else -%}
                {{ 'product-apparel-' | append: placeholder_index | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
          </div>
          <div class="product-highlights--content">
            {%- liquid
              assign default_title = 'onboarding.product_title' | t
              assign default_price = 1999.00 | money_with_currency
            -%}
            <div class="product-highlights--title h6">{{ product.title | default: default_title }}</div>
            <div class="product-highlights--price">
              <span class="font-bold h5">{{ product.price | money_with_currency | default: default_price }}</span>
              {%- if product.compare_at_price > product.price -%}
                <span class="line-through product--cut-price text-medium">{{ product.compare_at_price | money_with_currency }}</span>
              {%- endif -%}
            </div>
            {%- if product != blank -%}
              <div class="product-highlights--actions">
                <quick-view id="QuickView-{{ product.id }}" data-product-url="{{ product.url }}" data-product-id="{{ product.id }}"> 
                  <a href="{{ product.url }}" role="button" class="button" data-handle="{{ product.handle }}" product-quickview-btn><span class="quick--view-text">{{ section.settings.quick_view_button_text | default: 'Explore' }}</span></a>
                </quick-view>
                <a href="{{ product.url }}" class="button secondary--button">{{ section.settings.shop_now_button_text | default: 'Shop now' }}</a> 
              </div>
            {%- endif -%}
          </div>

           <div class="product-highlights-overlay">
                <span style="--transition_delay:.1s;"></span>
                <span style="--transition_delay:.15s;"></span>
                <span style="--transition_delay:.2s;"></span>
                <span style="--transition_delay:.25s;"></span>
                <span style="--transition_delay:.3s;"></span>
                <span style="--transition_delay:.35s;"></span>
                <span style="--transition_delay:.4s;"></span>
            </div>

        </div>
          {% capture key_highlights %}
            {%- assign delay = 0.4 -%}
            {%- for i in (1..3) -%}
              {%- liquid
                assign image = 'image_' | append: i
                assign text = 'text_' | append: i
                assign subtext = 'subtext_' | append: i
              
                assign image = block.settings[image]
                assign text = block.settings[text]
                assign subtext = block.settings[subtext] 
              -%}
              {%- if image != blank or text != blank or subtext != blank -%}
                <div class="product-highlights--key-item" style="--transition_delay:{{ delay | append: 's' }};">
                  {%- if text != blank or subtext != blank -%}
                    {%- if image != blank -%}
                      <div class="product-highlights--key-media">
                        <div class="media" style="--image_ratio:100%">
                          {% render 'lazy-image', image: image %}
                        </div>
                      </div>
                    {%- endif -%}
                  {%- endif -%}

                  {%- if text != blank or subtext != blank -%}
                    <div class="product-highlights--key-content">
                      {%- if text != blank -%}
                        <div class="product-highlights--key-title text-small">{{ text }}</div>
                      {%- endif -%}
                      {%- if subtext != blank -%}
                        <div class="product-highlights--key-desc text-xsmall">{{ subtext }}</div>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
                {%- assign delay = delay | plus: 0.1 -%}
              {%- endif -%}
            {%- endfor -%}
          {% endcapture %}
          {%- if key_highlights != blank -%}
            <div class="product-highlights--hover-content">
              <div class="product-highlights--key-items">
                {{ key_highlights }}
              </div>
            </div>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
    {% if is_slider %}
      </div>
      </swiper-content>
    {% endif %}
  </div>
</div>

<style>
    #shopify-section-{{ section.id }} .section-spacing {
      --top_spacing: {{ section.settings.top_space_desktop }}px;
      --bottom_spacing: {{ section.settings.bottom_space_desktop }}px;
    }
    {% for block in section.blocks %}
      #shopify-section-{{ section.id }} #product-highlights-item-{{ block.id }} {
        --image_overlay_background: {{ block.settings.overlay_color }};
      }
    {% endfor %}
    @media (min-width:768px) {
      #shopify-section-{{ section.id }}  {
        --column_count: 3;
      }
    }
    @media only screen and (max-width: 767px) {
      #shopify-section-{{ section.id }} .section-spacing {
        --top_spacing: {{ section.settings.top_space_mobile }}px;
        --bottom_spacing: {{ section.settings.bottom_space_mobile }}px;
        --column_count: 1;
      }
    }
    {% if section.settings.section_visibility == 'large' %}
      @media(max-width: 767px) {
        #shopify-section-{{ section.id }} {
          display: none !important;
        }
      }
    {% elsif section.settings.section_visibility == 'small' %}
      @media(min-width: 768px) {
        #shopify-section-{{ section.id }} {
          display: none !important;
        }
      }
    {% endif %}
</style>

{% schema %}
{
  "name": "t:sections.product-highlights.name",
  "tag": "section",
  "class": "section-Product-highlights",
  "disabled_on": {
    "groups": ["header", "footer", "custom.Overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:sections.all.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:sections.all.section_visibility.always.label",
          "value": "always"
        },
        {
          "label": "t:sections.all.section_visibility.small.label",
          "value": "small"
        },
        {
          "label": "t:sections.all.section_visibility.large.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "secondary",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "section_background",
      "label": "t:sections.all.section_background.label",
      "default": "solid",
      "options": [
        {
          "label": "t:sections.all.section_background.solid.label",
          "value": "solid"
        },
        {
          "label": "t:sections.all.section_background.gradient.label",
          "value": "gradient"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_container_width",
      "label": "t:sections.all.section_container_width.label",
      "default": "container-fullwidth",
      "options": [
        {
          "label": "t:sections.all.section_container_width.global.label",
          "value": "global"
        },
        {
          "label": "t:sections.all.section_container_width.container-sm.label",
          "value": "container-sm"
        },
        {
          "label": "t:sections.all.section_container_width.container-md.label",
          "value": "container-md"
        },
        {
          "label": "t:sections.all.section_container_width.container.label",
          "value": "container"
        },
        {
          "label": "t:sections.all.section_container_width.container-fullwidth.label",
          "value": "container-fullwidth"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.content.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:settings_schema.global.settings.heading.label",
      "default": "[Product] highlights",
      "info": "t:settings_schema.global.settings.heading.info"
    },
    {
      "type": "select",
      "id": "markers_font",
      "label": "t:sections.all.markers_font.label",
      "info": "t:sections.all.markers_font.info",
      "default": "heading-font",
      "options": [
        {
          "label": "t:sections.all.markers_font.accent-font.label",
          "value": "accent-font"
        },
        {
          "label": "t:sections.all.markers_font.body-font.label",
          "value": "body-font"
        },
        {
          "label": "t:sections.all.markers_font.heading-font.label",
          "value": "heading-font"
        }
      ]
    },
    {
      "type": "select",
      "id": "markers_text",
      "label": "t:sections.all.markers_text.label",
      "default": "outline--text",
      "options": [
        {
          "label": "t:sections.all.markers_text.no-markers.label",
          "value": "no-markers"
        },
        {
          "label": "t:sections.all.markers_text.highlight-color.label",
          "value": "highlight-color"
        },
        {
          "label": "t:sections.all.markers_text.highlight-gradient.label",
          "value": "highlight-gradient"
        },
        {
          "label": "t:sections.all.markers_text.outline--text.label",
          "value": "outline--text"
        },
        {
          "label": "t:sections.all.markers_text.outline--filled.label",
          "value": "outline--filled"
        },
        {
          "label": "t:sections.all.markers_text.text-background-cover.label",
          "value": "text-background-cover"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.h1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.h2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.h3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.h4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.h5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.h6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:sections.all.seo_heading.label",
      "info": "t:sections.all.seo_heading.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "div"
        },
        {
          "value": "span",
          "label": "span"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:settings_schema.global.settings.description.label"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "t:sections.all.description_size.label",
      "default": "text-large",
      "options": [
        {
          "label": "t:sections.all.description_size.text-xsmall.label",
          "value": "text-xsmall"
        },
        {
          "label": "t:sections.all.description_size.text-small.label",
          "value": "text-small"
        },
        {
          "label": "t:sections.all.description_size.text.label",
          "value": "text"
        },
        {
          "label": "t:sections.all.description_size.text-medium.label",
          "value": "text-medium"
        },
        {
          "label": "t:sections.all.description_size.text-large.label",
          "value": "text-large"
        },
        {
          "label": "t:sections.all.description_size.text-xlarge.label",
          "value": "text-xlarge"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "t:sections.all.heading_alignment.label",
      "default": "left"
    }, 
    {
      "type": "header",
      "content": "t:sections.product-highlights.settings.header_1.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.product-highlights.settings.paragraph_1.content"
    },
    {
      "type": "text",
      "id": "quick_view_button_text",
      "label": "t:sections.product-highlights.settings.quick_view_button_text.label",
      "default": "Explore"
    },
    {
      "type": "text",
      "id": "shop_now_button_text",
      "label": "t:sections.product-highlights.settings.shop_now_button_text.label",
      "default": "Shop now"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.main-product.settings.image_ratio.label",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.image_ratio.auto_ratio.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image_ratio.landscape.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.image_ratio.square.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image_ratio.portrait.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:sections.product-highlights.settings.highlight_style.label",
      "default": "carousel",
      "options": [
        {
          "label": "t:sections.product-highlights.settings.highlight_style.options.grid.label",
          "value": "stacked"
        },
        {
          "label": "t:sections.product-highlights.settings.highlight_style.options.carousel.label",
          "value": "carousel"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "mobile_swipe",
      "label": "t:sections.all.enable_swipe_mobile.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.section_spacing_heading"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.all.spacing.top_space_desktop",
      "default": 90,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.all.spacing.bottom_space_desktop",
      "default": 90,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.all.spacing.top_space_mobile",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.all.spacing.bottom_space_mobile",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "product_highlight",
      "name": "t:sections.product-highlights.blocks.product_highlight.name",
      "limit": 6,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:settings_schema.global.settings.product.label"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "t:sections.product-highlights.blocks.product_highlight.settings.overlay_color.label",
          "default": "#4B4B4B5B",
          "alpha": true
        },
        {
          "type": "header",
          "content": "t:sections.product-highlights.blocks.product_highlight.settings.header_1.content"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:settings_schema.global.settings.image.label"
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "t:settings_schema.global.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "text",
          "id": "subtext_1",
          "label": "t:settings_schema.global.settings.text.label",
          "default": "Short info"
        },
        {
          "type": "header",
          "content": "t:sections.product-highlights.blocks.product_highlight.settings.header_2.content"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:settings_schema.global.settings.image.label"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "t:settings_schema.global.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "text",
          "id": "subtext_2",
          "label": "t:settings_schema.global.settings.text.label",
          "default": "Short info"
        },
        {
          "type": "header",
          "content": "t:sections.product-highlights.blocks.product_highlight.settings.header_3.content"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "t:settings_schema.global.settings.image.label"
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "t:settings_schema.global.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "text",
          "id": "subtext_3",
          "label": "t:settings_schema.global.settings.text.label",
          "default": "Short info"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-highlights.presets.name",
      "blocks": [
        {
          "type": "product_highlight"
        },
        {
          "type": "product_highlight"
        },
        {
          "type": "product_highlight"
        }
      ]
    }
  ] 
}
{% endschema %}
